html, body {
  height: 100vh;
  margin: 0;
}

.toolbar {
  background-color: dodgerblue;
  height: 72px;
}

.nav-content-container {
  position: absolute;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-panel {
  background-color: gray;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.content {
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  height: 100%;
  right: 0;
  left: 250px;
}

.box {
  border: black 1.5px solid;
  height: 60px;
  width: 800px;
  margin: 12px auto;
}