.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  font-size: 32px;
  user-select: none;
}

.game-bar {
  width: 370px;
  border: black solid 1.5px;
  border-radius: 8px;
  margin-bottom: 4px;
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flags-container {
  font-size: 0;
}

.marked-flags, .flag-icon {
  font-size: 28px;
}

.restart-button:hover {
  cursor: pointer;
}

.row {
  display: flex;
}

.tile {
  width: 40px;
  height: 40px;
  border: black solid 1px;
  border-radius: 2px;
  margin: .5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: inset 0px 0px 13px 2px #bab9b9;
}

.unrevealed-tile {
  background-color: #0c74d6;
  box-shadow: 0.6px 1.1px 0px #2b638f, 0px 0.6px 15px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.01s linear;
}

.unrevealed-tile:hover {
  cursor: pointer;
}

.unrevealed-tile:active {
  transform: scale(0.95);
}

@font-face {
  font-family: mdi-icons;
  src: url('../node_modules/mdi/fonts/materialdesignicons-webfont.ttf');
}

.flagged-tile:after {
  font-family: mdi-icons;
  content: '\f240';
  color: rgb(202, 0, 0);
}

.questioned-tile:after {
  color: #eef2fb;
  content: '?';
}

.mined-tile:after {
  font-family: mdi-icons;
  content: "\f690";
  color: #04010e;
  background-color: #707070;
  box-shadow: 0px 0px 6px 6px #707070;
}

.number-one {
  color: #009ee4;
}

.number-two {
  color: #3f48cc;
}

.number-three {
  color: #b83dba;
}

.number-four {
  color: #bd2f53;
}

.number-five {
  color: #e2a84a;
}

.number-six {
  color: #c5c208;
}

.number-seven {
  color: #06b100;
}

.number-eight {
  color: #7f807f;
}

.win-cover, .lose-cover {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 70px;
  font-size: 48px;
  font-weight: bold;
  opacity: 0;
  transition: 1s linear;
  text-align: center;
  display: none;
  background-color: #7890f8;
}

.win-cover.shown, .lose-cover.shown {
  transform: scale(1.5);
  opacity: 0.7;
}