html, body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 252, 250);
}

.toolbar {
  display: flex;
  flex: 1;
  background-color: #106dc5;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

.toolbar-edge-box {
  height: 52px;
  width: 52px;
}

.game-title {
  font-size: 52px;
  color: #dcefff;
  font-weight: bold;
}

.settings-button {
  font-size: 48px;
  transition: transform 1s ease-in-out;
}

.settings-button:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.main-container {
  flex: 10;
  overflow-x: hidden;
  position: relative;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}