.settings-sidebar {
  background-color: #363636;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 320px;
  padding: 24px 4px;
  border-radius: 8px 0 0 8px;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.close-settings-button {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 32px;
  width: 32px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(224, 216, 216);
}

.close-settings-button:hover {
  cursor: pointer;
}

.feature-settings {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.feature-settings-title {
  color: #969796;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modes-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mode-button {
  flex: 1;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.mode-button:hover {
  cursor: pointer;
}

.active-mode {
  background-color: #797979;
  opacity: 0.95;
  border-radius: 10px;
}

.mode-size {
  font-size: 24px;
  color: rgb(228, 252, 250);
}

.easy-mode-label {
  color: lime;
}

.medium-mode-label {
  color: orange;
}

.hard-mode-label {
  color: rgb(241, 7, 7);
}

.question-mark-switch {
  position: relative;
  width: 52px;
  height: 30px;
  display: flex;
  align-items: center;
}

.question-mark-switch:hover {
  cursor: pointer;
}

.question-mark-checkbox {
  display: none;
}

.question-mark-checkbox:checked ~ .switch {
  transform: translateX(100%);
}

.question-mark-checkbox:checked ~ .switch-background {
  background-color: #2196f3;
}

.switch {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 36px;
  transition: 0.3s ease-in-out;
  transform: translateX(0%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.switch-background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  transition: 0.35s ease-in-out;
  background-color: #ddd;
}