.rating-container {
    font-size: 1.25em;
    font-weight: bold;

    .rating-value {
      margin: 0 6px;
    }

    .vote-button {
      font-size: 1.2em;
      line-height: unset;
      margin: 0;
      padding: 0;
      min-width: 30px;
      transition: transform 0.1s ease-in-out;

      &:focus, &:hover {
        background-color: transparent;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }

    .upvote-button:hover {
      color: green;
    }

    .downvote-button:hover {
      color: red;
    }

    
  }