@primary-color: #4caf50;
@dark-primary-color: #388E3C; 
@secondary-color: #536DFE; 
@neutral-color: #e6e6e6;

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.delete-button {
    border-radius: 100px;
    line-height: unset;
}