.active {
  border-bottom: 2px solid;
}

.new-subwebbit-button {
  position: fixed !important;
}

.nav-bar{
  width: 100%;

  .logo{
    text-decoration: none;
  }
}

.new-subwebbit-link {
  color: #47d6d8;
}