#toolbar {
  padding: 0 50px;
  background-color: #4CAF50;
  color: white;

  .logo {
    font-size  : 32px;
    user-select: none;

    :hover {
      cursor: pointer;
    }
  }

  .logout-icon {
    font-size: 32px;
  }

  .search-bar-container {
    width: 35%;

    input {
      font-size: 24px;
    }
  }
}

.search-results-container {
  .md-autocomplete-suggestion {
    border-bottom: .5px solid #ccc;
    line-height  : normal;
    height       : auto;
  }

  .search-result {
    padding: 4px 8px;

  }

  .md-autocomplete-suggestion:last-child {
    border-bottom-width: 0;
  }

  .subwebbit-icon {
    font-size: 24px;
  }

  .subwebbit-name,
  .subscribers-count {
    font-size: 20px;
  }

  .subwebbit-name {
    font-weight: 500;
    color      : black;
  }

  .subscribers-count {
    color: rgb(49, 46, 46)
  }
}

.mat-tooltip {
  font-size: 20px;
  height   : 30px;
}

.not-found-container {
  font-size: 18px;

  :hover {
    cursor: default;
  }

  .create-subwebbit-link {
    color          : #0e5eb9;
    text-decoration: underline;
  }

  .create-subwebbit-link:hover {
    cursor: pointer;
  }
}