html, body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.toolbar {
  background-color: #03a9f4;
  height: 72px;
}

.toolbar-logo-title {
  vertical-align: middle;
  display: table-cell;
  height: inherit;
  position: relative;
  left: 20px;
}

.logo {
  width: 60px;
  height: 38px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.nav-content-container {
  position: absolute;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-panel {
  background-color: #212121;
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 16px;
}

.navigation-button {
  color: white;
  background-color: #757575;
  height: 42px;
  line-height: 42px;
  padding-left: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2%;
  font-family: Verdana;
  font-size: 18px;
}

.active-navigation-button {
  background-color: #ff9100;
}

.content {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  right: 0;
  left: 300px;
  background-color: #424242;
}

.box {
  background-color: white;
  height: 72px;
  width: 1250px;
  border-radius: 1%;
  margin: 8px auto;
}