html, body {
  height: 100vh;
  margin: 0;
  font-family: Verdana, sans-serif;
}

.toolbar {
  background-color: #03a9f4;
  height: 85px;
}

.toolbar-logo-title {
  position: relative;
  left: 28px;
}

.logo {
  width: 60px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}

.title {
  position: relative;
  top: 9px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  line-height: 85px;
  display: inline-block;
  vertical-align: middle;
}

.nav-content-container {
  position: absolute;
  top: 85px;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-mail-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ff9100;
  font-size: 48px;
}

.new-mail-background {
  position: absolute;
  bottom: 24px;
  right: 22px;
  background-color: white;
  height: 28px;
  width: 24px;
}

.navigation-panel {
  background-color: #212121;
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 16px;
}

.navigation-button {
  color: white;
  background-color: #757575;
  line-height: 42px;
  padding-left: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.active-navigation-button {
  background-color: #ff9100;
}

.content {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  right: 0;
  left: 300px;
  background-color: #424242;
}

.messages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-box {
  background-color: white;
  height: 68px;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  position: relative;
  min-width: 1300px;
}

.message-header {
  position: relative;
  display: inline-block;
  height: 100%;
  border-right: #808080 1px solid;
  padding-right: 10px;
  padding-top: 4px;
  box-sizing: border-box;
}

.message-subject {
  font-size: 28px;
}

.message-sender {
  line-height: 30px;
}

.message-body {
  display: inline-block;
  height: 100%;
  width: 510px;
  vertical-align: top;
  padding-left: 6px;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.importance-icon {
  position: absolute;
  bottom: 1px;
  right: 7px;
  color: #ff0000;
  font-size: 28px;
}