.subwebbit-header {
    padding: 28px;

    .subwebbit-title {
        font-size: 48px;
        font-weight: bold;
    }

    .subscribe-button{
        width: 220px;
        padding: 4px;
        border-radius: 10px;
        font-size: 24px;
        background-color: #66BB6A;
    }

    .subscribe-button:hover {
        background-color: #A5D6A7;
    }

    .subwebbit-subscribers {
        font-size: 24px;
    }
}

.page-content-container {
    background-color: rgb(216, 216, 216);
}
