.subwebbit-header {
    padding: 28px;

    .subwebbit-title {
        font-size: 48px;
        font-weight: bold;
    }

    .subscribtion-button {
        width: 220px;
        padding: 4px;
        border-radius: 10px;
        font-size: 24px;
    }

    .subscribe-button{
        background-color: #66BB6A;
    }

    .unsubscribe-button {
        color: #66BB6A;
        border: solid 1.5px #66BB6A;
    }

    .subscribe-button:hover {
        background-color: #A5D6A7;
    }

    .subwebbit-subscribers {
        font-size: 24px;
    }
}

.subwebbit-threads-container {
    background-color: rgb(216, 216, 216);
    padding: 20px 48px;
    
    .create-thread-button {
        background-color: #f6f6f6;
        width: 60%;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 8px;
    }
}
