<div layout-fill layout="column">
    <div class="subwebbit-header" flex-offset="25" layout="column">
        <div layout="row" layout-align="space-between center">
            <span flex="40" class="subwebbit-title">{{subwebbit.name}}</span>
            <div flex>
                <md-button ng-click="toggleSubscribe($event.target, subwebbit.id)" class="subscribtion-button"
                    ng-class="subwebbit.isSubscribed ? 'unsubscribe-button' : 'subscribe-button'">
                    subscribe<span ng-if="subwebbit.isSubscribed">d <i class="mdi mdi-check"></i></span>
                </md-button>
            </div>
        </div>
        <div>
            <span class="subwebbit-subscribers">{{subwebbit.subscribersCount}} subscriebrs</span>
        </div>
    </div>
    <div flex class="subwebbit-threads-container" layout="column">
        <div layout="row" layout-align="center center">
            <md-button md-ink-ripple="false" ng-click="showCreateDialog()" class="create-thread-button">
                Create Thread <i class="mdi mdi-pencil"></i>
            </md-button>
        </div>
        <threads-displayer ng-if="subwebbit.id" flex subwebbit-id="subwebbit.id"></threads-displayer>
    </div>
</div>