<div layout="row">
    <span class="subwebbit-name">{{$ctrl.thread.subwebbitName}}</span>
    <span class="thread-metadata"> / posted by {{$ctrl.thread.author}} • {{$ctrl.toTimeAgo($ctrl.thread.date)}}</span>
    <div flex="noshrink" class="minimal-space"></div>
    <rating item-ids="{'threadId': $ctrl.thread.id,
                       'subwebbitId': $ctrl.thread.subwebbitId}"
            rating="$ctrl.thread.rating"
            user-vote="$ctrl.thread.userVote"></rating>
</div>
<p class="thread-title">{{$ctrl.thread.title}}</p>
<p flex="noshrink" class="thread-content">
    {{$ctrl.thread.content}}
</p>
<div class="thread-footer" layout="row" layout-align="start center">
    <i class="mdi mdi-comment-outline comments-icon"></i>
    <span>{{$ctrl.thread.commentsCount}} Comments</span>
    <md-button ng-if="$ctrl.thread.isOwner" class="delete-thread-button" ng-click="$event.stopPropagation(); $ctrl.delete()">
        <i class="mdi mdi-delete"></i>
        <md-tooltip class="mat-tooltip">Delete Thread</md-tooltip>
    </md-button>
</div>
</div>