html, body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.clock-display {
  background-image: url("./images/clock.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #380101;
  border-radius: 50%;
  box-shadow: 3px 7px 10px 0px black;
}

@font-face {
    font-family: digital;
    src: url("./fonts/digital-7.mono.ttf");
}

.elapsed-display {
  font-size: 64px;
  font-family: digital;
}

.stopwatch-button {
  margin: 16px 32px;
  border-radius: 50%;
  font-size: 36px;
  height: 120px;
  width: 120px;
  cursor: pointer;
  transition: transform 0.1s;
  border: 8px solid;
}

.stopwatch-button:focus {
  outline: none;
  transform: scale(1.1);
}

.stopwatch-button:disabled {
  cursor: default;
  color: white;
  filter: brightness(75%);
}

.start-button {
  background-color: #3ff366;
  border-color: #49db69;
}

.stop-button {
  background-color: #e03f33;
  border-color: #ca544c;
}