@import (reference) '../app.less';

.exterior-page-container {
  .form {
    padding: 14px 36px;

    .form-inputs-container {
      overflow: hidden auto;
      font-size: 1.1em;
    }

    .input-icon {
      color: @dark-primary-color;
    }

    .submit-button {
      background-color: @primary-color;
      color: white;
      padding: 4px;
      border-radius: 24px;
      font-size: 28px;

      &:disabled {
        background-color: #9b9a9ad9;
      }

      &:hover:not([disabled]) {
        background-color: #388e3c;
      }
    }

    .link {
      color: @primary-color;
      font-weight: bold;
    }
  }
}