@import (reference) "../app.less";

.exterior-page-container {
  font-size: 24px;
  background: radial-gradient(
    circle,
    rgb(236, 218, 226) ,
    rgba(151, 124, 151, 0.5)
  );

  .box {
    width: 600px;
    min-width: 370px;
    height: 620px;
    min-height: 450px;
    border: 1.5px solid black;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;

    .header {
      padding: 6px 0;
      background-color: @primary-color;
      color: white;
      font-size: 32px;

      .logo {
        font-size: 40px;
      }
    }

    .form {
      padding: 14px 36px;

      .form-inputs-container {
        overflow: hidden auto;
        font-size: 1.1em;
      }

      .input-icon {
        color: @dark-primary-color;
      }

      .submit-button {
        background-color: @primary-color;
        color: white;
        padding: 4px;
        border-radius: 24px;
        font-size: 28px;

        &:disabled {
          background-color: #9b9a9ad9;
        }

        &:hover:not([disabled]) {
          background-color: @dark-primary-color;
        }
      }

      .link {
        color: @primary-color;
        font-weight: bold;
      }
    }
  }
}
