<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package subwebbitId="Microsoft.Owin" version="3.0.0" targetFramework="net46" />
  <package subwebbitId="Microsoft.Owin.Host.HttpListener" version="4.1.0" targetFramework="net46" />
  <package subwebbitId="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net46" />
  <package subwebbitId="Owin" version="1.0" targetFramework="net46" />
</packages>